.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 175px;
   border: 5px solid navy;
   border-top: none;
   border-radius: 0 0 2rem 2rem;
   background-image: radial-gradient(rgb(0, 67, 0), rgb(0, 177, 0));
}

.searchBar {
   margin: 1rem;
}

.title {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}