.playlistWrapper {
   display: flex;
   width: 100%;
   border: 3px solid green;
   border-radius: 2rem;
   background-color: #272933;
}

.playlistHeaderContainer {
   margin: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 30%;
}

.playlistImgWrapper {
   width: 6rem;
   height: 6rem;
   overflow: hidden;
}

.playlistImg {
   max-width: 100%;
   height: auto;
   display: block;
}

.playlistName {
   width: 80%;
   margin: 1rem 0;
   text-align: center;
   padding: 0.5rem;
   border-radius: 1rem;
   font-weight: bold;
   background-color: white;
   color: black;
}

.savePlaylistButton {
   background-color: green;
   border-radius: 100%;
   border: none;
   padding: 1rem;
   box-shadow: 3px 3px 3px rgb(86, 137, 86);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}